@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

html { 
    /* background: url(../images/bg.jpg) no-repeat center center fixed;  */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

@font-face {
    font-family: LocalFont001;
    src: url(../fonts/BarlowSemiCondensed-Regular.ttf);
}

body {
    padding:0;
    margin:0;
    font-family: 'Barlow Semi Condensed', 'LocalFont001', sans-serif;
    
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(200,0,0,0.498039) 50%, rgba(200,0,0,0.498039) 0), -webkit-linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(200,0,0,0.498039) 50%, rgba(200,0,0,0.498039) 0), #FFFFFF;
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(200,0,0,0.498039) 50%, rgba(200,0,0,0.498039) 0), -moz-linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(200,0,0,0.498039) 50%, rgba(200,0,0,0.498039) 0), #FFFFFF;
    background: linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(200,0,0,0.498039) 50%, rgba(200,0,0,0.498039) 0), linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(200,0,0,0.498039) 50%, rgba(200,0,0,0.498039) 0), #FFFFFF;
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
}

#navbar {
    overflow: hidden;
    background-color: #333;
    z-index: 2;
}

#navbar a {
    float: left;
    display: block;
    height:20px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.header,
.content1 {
    padding: 16px;
}
.content2,
.content3 {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width:100%;
}

.active {
    background-color: #307FB5;
}

.sticky + .content1 {
    padding-top: 64px;
}

.outline {
    background-color:rgba(255,247,219,0.2);
    padding:15px;
    border-radius:8px;
    border: 1px solid #fff;
    text-align: justify;
    color:#555555;
}
